{% extends "layout.html" %}

{% block title %}
    Your history
{% endblock %}

{% block main %}
    <form action="/history">
          <table allign="center" style="width:100%" cellpadding="10" cellspacing="10">
            <thead>
              <tr>
                <th scope="col"><b>ID</b></th>
                <th scope="col"><b>Shares symbol</b</th>
                <th scope="col"><b>Shares</b</th>
                <th scope="col"><b>Price</b</th>
                <th scope="col"><b>Value of transaction</b</th>
                <th scope="col"><b>Transaction</b</th>
                <th scope="col"><b>Date</b></th>
              </tr>
            </thead>
            {% for row in rows %}
              <tr>
                <td>{{row.id}}</td>
                <td>{{row.symbol}}</td>
                <td>{{row.amount}}</td>
                <td>{{row.price}}</td>
                <td>{{row.cost}}</td>
                <td>{{row.transaction}}</td>
                <td>{{row.date}}</td>
              </tr>
            {% endfor %}
          </table>
    </form>
{% endblock %}
